<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notaking</title>

    <link rel="icon" href="../static/images/favicon.png" type="image/png">

    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/animation.css">
    <link rel="stylesheet" href="../static/color-styles.css">

    <script src="../static/scripts.js"></script>

</head>
<body class="home-page-color">

    <div class="container-fluid mt-3" align="center">

        <nav class="navbar navbar-expand-lg bg-color-home" style="height: 60px;">

            <h1 class="text-light button-animation">Notaking</h1>

            <div class="collapse navbar-collapse justify-content-end">

              <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-dark btn btn-outline-light button-animation" href="/profile">{{ name }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link btn btn-outline-warning button-animation" href="my_notes">My Notes</a>
                </li>
                <li class="nav-item">
                  <button type="button" class="nav-link btn btn-outline-primary button-animation" onclick="log_out()">Log Out</a>
                </li>
              </ul>

            </div>
        </nav>

        {% if Data|length != 0 %}

            <button type="button" id="recent-button" class="btn btn-outline-primary mt-3 button-animation" style="display: block;" onclick="show_recent_table(true)">Recent Notes</button>

        {% endif %}

        <div id="recent-div" style="display: none;">

           <table class="table table-light table-animation table-bordered table-striped table-hover">

                <thead>
                    <tr>
                        <td class="text-warning text-center h5 button-animation">Recent Notes</td>
                    </tr>
                </thead>

                <tbody>
                    {% for data in Data %}

                        <tr>
                            <td>{{ data['note'] }}</td>
                        </tr>

                    {% endfor %}
                </tbody>

            </table>

            <button type="button" class="btn btn-outline-danger mt-3 button-animation" onclick="show_recent_table(false)">Hide Notes</button>

        </div>


        <div class="container box-container" style="max-width: 1300px; text-align: start; margin-top: 50px;">

            <h4 class="text-aimation rounded-pill">Notes</h4>


            <form action="" method="post">

                <div class="input-group">
                    <span class="input-group-text bg-transparent text-primary">Field 1</span>
                    <input type="text" id="field1" name="field1" class="form-control text-primary bg-transparent border-light" onkeyup="check_text()">
                    <button type="button" class="btn btn-outline-danger button-animation" onclick="erase_text('field1')">Erase</button>
                </div>

                <div class="input-group mt-3">
                    <span class="input-group-text bg-transparent text-success">Field 2</span>
                    <input type="text" id="field2" name="field2" class="form-control text-success bg-transparent border-light" onkeyup="check_text()">
                    <button type="button" class="btn btn-outline-danger button-animation" onclick="erase_text('field2')">Erase</button>
                </div>

                <div class="input-group mt-3">
                    <span class="input-group-text bg-transparent text-dark">Field 3</span>
                    <input type="text" id="field3" name="field3" class="form-control text-dark bg-transparent border-light" onkeyup="check_text()">
                    <button type="button" class="btn btn-outline-danger button-animation" onclick="erase_text('field3')">Erase</button>
                </div>

                <div align="center">
                    <button type="submit" id="save-button" disabled class="btn btn-outline-success mt-3 button-animation">Save Note</button>
                </div>

            </form>


        </div>





    </div>

</body>
</html>