{% extends "layout.html" %}


{% block main %}

    <div class="container-fluid text-center">

        <h1 class="brand-name rounded-pill">Notaking</h1>

        <div class="box-animation">

            <h3 class="m-3">Nopture Your Ideas, Anytime, Anywhere.</h3>

            <h3 class="m-3">Create Your Creative Notes Here!</h3>

            <p class="text-danger text-muted m-4">Get Access To Your Notes Any Where.</p>

            <a href="/login" class="btn btn-lg btn-outline-primary button-animation">Log In</a>

            <a href="/register" class="btn btn-lg btn-outline-info button-animation">Register</a>

        </div>

    </div>


{% endblock %}